table {
    border-collapse: collapse;
    width: 550px;

}

td {
    max-width: 150px;
    overflow: auto;
    padding: 0 5px 0 5px;
}

textarea {
    max-width: 250px;
    overflow: auto;
}

.logo {
    position: absolute;
}

.edit_delete {
    color: silver;
}

/* ячейки таблицы */
table.sort td {
    border: 1px solid #CCCCCC;
    padding: 0.2em 1em;
}

/* заголовки таблицы */
table.sort thead td {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}

/* заголовок отсортированного столбца */
table.sort thead td.curcol {
    background-color: lightcyan;
    color: black;
}

.db_users {
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: blue;
}


input[type="date"] {
    width: 179px;
}

